* text=auto eol=lf encoding=utf-8

*.*ignore           text
*.bash              text
*.bat               text eol=crlf
*.cmd               text eol=crlf
*.json              text
*.md                text diff=markdown
*.ps1               text eol=crlf
*.sh                text
*.toml              text
*.xml               text
*.yaml              text
*.yml               text
*.zsh               text
.editorconfig       text
.gitattributes      text
.gitconfig          text
.gitkeep            text
Dockerfile*         text
LICENSE             text
